h1{
    text-align: center;
    color: green;
}
h3{
    color: blue;
}
p{
    color: red;
}
#wrap-me{
    border: 5px solid black;
    border-radius: 15px;

}
.truth-lie{
    border:2px solid black;
    border-radius: 20px;
    background-color: lightgrey;
    text-align: center;
    width: 20%;
    /*display: inline-block;
    margin-left: 150px;*/
}
body{
    background-color: gray;
}
#hello{
    display: flex;
    justify-content: space-evenly;
}